/* grid component */
.aem-Grid {
  display: grid;
  column-gap: var(--gutter);
}

/* placeholder for new components */
.aem-Grid-newComponent {
  margin: 0;
  grid-column: 1/-1;
}

/* column of a grid */
.aem-GridColumn {
  --aem-grid-columns-w-offset: calc(
    var(--grid-column-span) + var(--grid-column-offset)
  );
  grid-column-end: span var(--aem-grid-columns-w-offset, -1);
  word-break: break-word; // Prevents overflow with 12 columns on mobile
}

/* force showing hidden */
.aem-GridShowHidden > .aem-Grid > .aem-GridColumn {
  display: block !important;
}
